[submodule "native-components/vendor/miniaudio"]
	path = sge-deps/native-components/vendor/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "native-components/vendor/glfw"]
	path = sge-deps/native-components/vendor/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.4
[submodule "original-src/libgdx"]
	path = original-src/libgdx
	url = https://github.com/libgdx/libgdx
