<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sge.smoke">

    <!-- GL ES 2.0 required -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:label="SGE Smoke Test"
        android:hardwareAccelerated="true">

        <activity
            android:name="sge.smoke.SmokeActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
